* {
  box-sizing: border-box;
  color: #4d2e07;
}

html {
  background-color: #fff1e4;
}

button {
  margin: 2px 5px;
  padding: 3px 5px;
  border: 1px solid #DFDDCF;
  border-radius: 5px;
  background-color: #fff5ca;
  cursor: pointer;

  &:disabled {
    background-color: #d8d0ab;
    color: white;
    cursor: default;
  }
  &:active {
    background-color: #fceeb3;
  }
}

input {
  margin: 2px 5px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 5px;
  width: 183px;
}

a {
  text-decoration: none;
  color: rgb(177, 106, 25);
  font-weight: 500;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
